# Basic Functions

In [1]:
def say_hello():
    print('hello')

In [2]:
say_hello()

hello

In [5]:
# RETURN TRUE IF ANY NUMBER IS EVEN INSIDE A LIST
def check_even_list(num_list):
    for number in num_list:
        if number%2 == 0:
            return True
        else:
            pass
    return False

In [6]:
check_even_list([1,3,5,7,9,12])

True

In [7]:
check_even_list([1,3,5,7,9,11])

False

In [8]:
# RETURN ALL EVEN NUMBERS IN THE LIST
def check_even_list(num_list):
    
    even_numbers = []
    
    for number in num_list:
        if number%2 == 0:
            even_numbers.append(number)
        else:
            pass
    return even_numbers

# Tuple Unpacking

In [9]:
stock_prices = [('AAPL', 200), ('GOOG',400),('MSFT',100)]

In [10]:
for item in stock_prices:
    print(item)

('AAPL', 200)
('GOOG', 400)
('MSFT', 100)

In [12]:
for ticker,price in stock_prices:
    print(ticker)

AAPL
GOOG
MSFT

In [13]:
work_hours = [('Abby',100),('Billy',400),('Cassie',800)]

We want a function that can go through the tuples and return the name and hours of the person that worked the most hours.

In [14]:
def employee_check(work_hours):
    current_max = 0
    employee_of_month = ''
    
    for employee, hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    
    # Return
    return (employee_of_month, current_max)

In [16]:
result = employee_check(work_hours)

In [17]:
result

('Cassie', 800)

In [18]:
name,hours = employee_check(work_hours)

In [19]:
name

'Cassie'

In [20]:
hours

800

# Interactions Between Functions

In [21]:
example = [1,2,3,4,5,6,7]

In [22]:
from random import shuffle

In [23]:
shuffle(example)
# Happens in place so we need to add a little functionality

In [24]:
example

[4, 3, 7, 2, 1, 5, 6]

In [25]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [27]:
result = shuffle_list(example)

In [28]:
result

[1, 6, 4, 5, 2, 3, 7]

In [29]:
my_list = [' ', '0', ' ']

In [31]:
shuffle_list(my_list)

[' ', ' ', '0']

In [34]:
def player_guess():
    guess=''
    
    while guess not in ['0', '1', '2']:
        guess = input("Pick a number: 0, 1, or 2: ")
    
    return int(guess)

In [35]:
player_guess()

Pick a number: 0, 1, or 2:  2

2

In [36]:
def check_guess(mylist, guess):
    if mylist[guess] == '0':
        print('Correct!')
    else:
        print('Wrong!')
        print(mylist)

In [39]:
# INITIAL LIST
mylist = [' ', '0', ' ']

# SHUFFLE LIST
mixed_up_list = shuffle_list(mylist)

# USER GUESS
guess = player_guess()

# CHECK GUESS
check_guess(mixed_up_list, guess)

Pick a number: 0, 1, or 2:  2

Correct!

# *args and **kwargs in Python

args = arguments

kwargs = key word arguements

In [40]:
def myfunc(a, b):
    # Returns 5% of the sum of a and b
    return sum((a,b)) * 0.05

In [41]:
myfunc(40,60)

5.0

a and b are called positional arguments because the value they get assigned is dependent on the position of the inputs passed in. So in our example, 40 is assigned to a and 60 is assigned to b. What if we want to work with more than two numbers?

We could pass in a bunch of variables with default values to 0, but we would have to add in a lot of them!

This is where we can use *args. Then we can pass in as many arguments as we like. Python is going to take everything that is fed into the function and put them into a tuple.

In [44]:
def myfunc(*args):
    print(args)
    return sum(args) * 0.05

In [45]:
myfunc(1,2,5,6,56,51,8,9,2,4,46)

(1, 2, 5, 6, 56, 51, 8, 9, 2, 4, 46)

9.5

args is just convention. Python understands what we are trying to do from the asterisk. Technically 'args' can be anything we want, but args is used by convention.

Python also allows us a way to handle an arbitrary number of keywork arguments with **kwargs. This builds a dictionary of key-value pairs.

In [52]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        prnt('I did not find any fruit here')

In [53]:
myfunc(fruit = 'apple')

{'fruit': 'apple'}
My fruit of choice is apple

In [54]:
myfunc(fruit = 'apple', veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

Notice that Python didn't complain when we passed in the veggie keyword. The kwargs is arbitrary, what tips Python is the double asterisk.

We can use these in combination.

In [57]:
def myfunc(*args, **kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [58]:
myfunc(10,20,30,fruit='orange',food='eggs',animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

In [68]:
def myfunc(*args):
    return [i for i in args if i%2 == 0]

In [69]:
myfunc(1,2,3,4)

[2, 4]

In [64]:
x = (1,2,3,4)

In [67]:
for i in x:
    print(i)

1
2
3
4

In [86]:
def myfunc(my_string):
    string_list = list(my_string)
    for i in range(len(string_list)):
        if i%2 == 0:
            string_list[i] = string_list[i].lower()
        else:
            string_list[i] = string_list[i].upper()
    return ''.join(string_list)

In [87]:
myfunc('jared')

'jArEd'

In [80]:
name = 'jared'
name_list = list(name)

In [82]:
name_list[0] = name_list[0].upper()

In [83]:
name_list

['J', 'a', 'r', 'e', 'd']

In [85]:
''.join(name_list)

'Jared'

# Functions Practice Exercises

## Warmup

### LESSER OF TWO EVENS

Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [88]:
def lesser_of_two_evens(a,b):
    if (a%2==0) and (b%2==0):
        if a < b:
            return a
        else:
            return b
    else:
        if a > b:
            return a
        else:
            return b

In [89]:
lesser_of_two_evens(2,4)

2

In [90]:
lesser_of_two_evens(2,5)

5

### ANIMAL CRACKERS

Write a function that takes a two-word string and returns True if both words begin with the same letter. 

    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [91]:
my_string = 'Crazy Kangaroo'

In [98]:
def animal_crackers(my_string):
    string_list = my_string.split(' ')
    return string_list[0][0] == string_list[1][0]

In [99]:
animal_crackers('Levelheaded Llama')

True

In [100]:
animal_crackers('Crazy Kangaroo')

False

### MAKES TWENTY

Given two integers, return True if the sum of the integers is 20 or if one of the intergers is 20. If not, return False. 

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [101]:
def makes_twenty(a,b):
    if (a==20) or (b==20):
        return True
    elif a+b == 20:
        return True
    else:
        return False

In [102]:
makes_twenty(20,10)

True

In [103]:
makes_twenty(12,8)

True

In [104]:
makes_twenty(2,3)

False

## LEVEL 1 PROBLEMS

### OLD MACDONALD

Write a function that capitalizes the first and fourth letters of a name. 

    old_macdonald('macdonald') --> MacDonald

In [105]:
def old_macdonald(my_string):
    str_list = list(my_string)
    
    str_list[0] = str_list[0].upper()
    str_list[3] = str_list[3].upper()
    
    return ''.join(str_list)

In [106]:
old_macdonald('macdonald')

'MacDonald'

### MASTER YODA

Given a sentence, return a sentence with the words reveresed. 

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'

In [126]:
def master_yoda(sentence):
    sentence_list = sentence.split()
    
    new_sentence = []
    for i in range(len(sentence_list)-1, -1, -1):
        new_sentence.append(sentence_list[i])
    return ' '.join(new_sentence)

In [127]:
master_yoda('I am home')

'home am I'

In [128]:
master_yoda('We are ready')

'ready are We'

### ALMOST THERE

Given an integer n, return True if n is within 10 of either 100 or 200.

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True

In [132]:
def almost_there(x):
    if (abs(100-x) <= 10) or (abs(200-x) <= 10):
        return True
    else:
        return False

In [135]:
print(almost_there(90))
print(almost_there(104))
print(almost_there(150))
print(almost_there(209))

True
True
False
True

## LEVEL 2 PROBLEMS

### FIND 33

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere. 

    has_33([1,3,3]) --> True
    has_33([1,3,1,3]) --> False
    has_33([3,1,3]) --> False

In [139]:
def has_33(x):
    for i in range(len(x)-1):
        if x[i] == 3:
            if x[i+1] == 3:
                return True
            else:
                pass
        else:
            pass
    return False

In [141]:
print(has_33([1,3,3]))
print(has_33([1,3,1,3]))
print(has_33([3,1,3]))

True
False
False

### PAPER DOLL

Given a string, return a string where for every character in the orginal there are three characters. 

    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> MMMiiissssssiiissssssiiippppppiii'

In [152]:
def paper_doll(string):
    string_list = list(string)
    for i in range(len(string_list)):
        string_list[i] = string_list[i]*3
    return ''.join(string_list)

In [154]:
print(paper_doll('Hello'))
print(paper_doll('Mississippi'))

HHHeeellllllooo
MMMiiissssssiiissssssiiippppppiii

### BLACKJACK

Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there is an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustement) exceeds 21, return 'BUST'.

    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [5]:
def blackjack(x,y,z):
    if sum([x,y,z]) <= 21:
        return sum([x,y,z])
    elif (sum([x,y,z]) > 21) and (11 in [x,y,z]):
        if sum([x,y,z])-10 > 21:
            return 'BUST'
        else:
            return sum([x,y,z])-10
    else:
        return 'BUST'

In [7]:
print(blackjack(5,6,7))
print(blackjack(9,9,9))
print(blackjack(9,9,11))

18
BUST
19

### SUMMER OF '69

Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers. 

    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [15]:
def summer_69(x):
    nums_to_sum = []
    inside_6 = False
    if 6 not in x:
        return sum(x)
    for i in x:
        if (i != 6) and (inside_6 == False):
            nums_to_sum.append(i)
        elif i == 6:
            inside_6 = True
        elif (i == 9) and (inside_6 == True):
            inside_6 = False
    print(nums_to_sum)
    return sum(nums_to_sum)

print(summer_69([1,3,5]))
print(summer_69([4, 5, 6, 7, 8, 9]))
print(summer_69([2, 1, 6, 9, 11]))

9
[4, 5]
9
[2, 1, 11]
14

# CHALLENGING PROBLEMS

## SPY GAME

Write a function that takes in a list of integers and returns True if it contains 007 in order. 

    spy_game([1,2,4,0,0,7,5]) --> True
    spy_game([1,0,2,4,0,5,7]) --> True
    spy_game([1,7,2,0,4,5,0]) --> False

In [24]:
def spy_game(x):
    my_dict = {'0':0,'7':0}
    for num in x:
        if num == 0:
            my_dict['0'] += 1
        elif num == 7:
            if my_dict['0'] < 2:
                return False
            else:
                return True

print(spy_game([1,2,4,0,0,7,5]))
print(spy_game([1,0,2,4,0,5,7]))
print(spy_game([1,7,2,0,4,5,0]))

True
True
False

## Count Primes

Write a function that returns the number of prime numbers that exist up to and including a given number

    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [46]:
def count_primes(x):
    
    count = 0
    
    def is_prime(x):
        for num in range(2,x):
            if (x % num) == 0:
                return 0
        else:
            return 1
    
    if x > 1:
        for num in range(2,x):
            count += is_prime(num)
    return count

count_primes(100)

25